<fieldset class="post">
  <legend>Post Message</legend>
  <div>
  <%=form_for :message, :url => messages_url(:vendor_individual_id => current_user.vendor_individual_id), :remote => true, :html => {:id => "post_form"} do |f| -%>
    <%=f.text_area :body, :rows => 1, :cols => 100%><br />
    <input name="commit" type="button" id="post_button" value="Post Message" />
  <%end -%>
  </div>
</fieldset>
<div>
  <p>Colleague news (<%=@user.posts_count%>)</p> <br/>
  <div id="feeds">
  <%=render :partial => "messages/index", :locals => {:news_feed => @news_feed}%>
  </div>
</div>
<br />
<%if(more_feed?(@user, params[:page])) -%>
  <div><%=link_to "Older Posts", messages_url(:vendor_individual_id => @user.vendor_individual_id, :page => (params[:page] || 2).to_i), :id => "older_posts"%></div>
<%end -%>