<!DOCTYPE html>
<html>
<head>
  <title>RedisTimeline</title>
  <%= stylesheet_link_tag 'profiles' %>
  <%= javascript_include_tag 'jquery-1.4.4' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
